modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Minecraft Forge Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "infinity_stones_mod_1_21_5"

[[workflows.workflow]]
name = "Minecraft Forge Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && ls"

[[workflows.workflow]]
name = "infinity_stones_mod_1_21_5"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "find src/main/java -name \"*.java\" | sort"

[deployment]
run = ["sh", "-c", "cd src && ls"]
